.blur {
    filter: blur(5px);
    pointer-events: none;
}

html {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

button, input {
    font-size: 32px;
    padding: 16px;
}

section {
    border: 1px solid black;
    width: 50%;
    border-radius: 16px;
    margin: auto;
    margin-top: 16px;
    cursor: pointer;
}

p {
    margin: 0px;
}

form {
    border: 1px solid black;
    border-radius: 16px;
    width: 50%;
    position: absolute;
    visibility: hidden;
    padding: 16px;
    background-color: white;
}