<!DOCTYPE html>
<html>

    <head>
        <meta charset = "UTF-8">
        <title>Board of War</title>
        <link rel = "stylesheet" href ="lobby.css">
        <script src = 'lobby.js' defer></script>
    </head>

    <body>



        <nav>
            <button onclick = "create()">Create Room</button>
        </nav>

        <main>

        </main>

        <form id = "create" action = "http://localhost:3000/room/create" method = "post">
            <table>
                <tr>
                    <td>Room Name: </td>
                    <td><input type = "text" name = "room" required></td>
                </tr>
                <tr>
                    <td>Player Name: </td>
                    <td><input type = "text" name = "player" required></td>
                </tr>
            </table>
            <br>
            <button>Create</button>

        </form>

        <form id = "join" action = "http://localhost:3000/room/join" method = "post">
            <input id = "room" name = "room" style = "position: absolute; visibility: hidden;">
            <span>Player Name: </span>
            <input type = "text" name = "player" required>
            <button>Join</button>
        </form>

    </body>

</html>