html {
    font-family: Arial, Helvetica, sans-serif;
}

header > span.player {
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    margin-left: 4px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

#log > tbody > tr > td {
    border-left: none;
    border-right: none;
}

#cards > tbody > tr > td {
    border: none;
}

button {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

p {
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: auto;
}

img {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    margin-top: 2px;
}

#board {
    position: absolute;
    bottom: 2%;
    left: 16%;
    /* transform: translate(-50%, 0); */
}

/* #board.combat {
    position: absolute;
    top: 5%;
    left: 20%;
} */

#actions {
    visibility: hidden;
    position: absolute;
    right: 2%;
    bottom: 2%;
}

#actions > tbody > tr > td {
    border: none;
}

.cell {
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    text-align: center;
}

/* .cell img {
    display: block;
    margin: 0;
    border: none;
} */

.this {
    border: 2px solid cyan;
}

.other {
    border: 2px solid red;
}

#message {
    border: 1px solid black;
    border-radius: 16px;
    font-size: 32px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    z-index: 10;
    display: inline;
    text-align: left;
    position: relative;
}

#ready, #no {
    font-size: 32px;
    padding: 8px;
    position: absolute;
    left: 8px;
    bottom: 8px;
}

#no {
    visibility: hidden;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
}

td.select {
    background-color: yellow;
    cursor: pointer;
}

.amount > tbody > tr > td {
    border: none;
}

#cards, #actions {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.Action > button, tr.Action > th {
    background-color: #FF5555;
    color: white;
}
.Action > button > img, tr.Action > td {
    background-color: #FFAAAA;
}

.Unit > button, tr.Unit > th {
    background-color: #55FFFF;
    color: black;
}
.Unit > button > img, tr.Unit > td {
    background-color: #AAFFFF;
}

.Resource > button, tr.Resource > th {
    background-color: #55FF55;
    color: black;
}
.Resource > button > img, tr.Resource > td {
    background-color: #AAFFAA;
}

.Source > button, tr.Source > th {
    background-color: #5555FF;
    color: white;
}
.Source > button > img, tr.Source > td {
    background-color: #AAAAFF;
}